@model IEnumerable<Forum.Models.Messages>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

@foreach (var item in Model)
{
    <div class="message_main">
        <div class="message_float">
            @{
                var UserId = WebSecurity.GetUserId(User.Identity.Name);
            }
            @if (item.UserId == UserId)
            {
                <i>
                   @Html.ActionLink("Edit", "Edit", "Message", new { MessageId = item.MessageId, QuestionId = item.QuestionId }, null) |
                   @Ajax.ActionLink("Delete", "Delete", "Message", new { MessageId = item.MessageId, QuestionId = item.QuestionId }, new AjaxOptions
                   {
                       Confirm = "Are you sure you wish to delete this Message you created?",
                       HttpMethod = "Post",
                       OnSuccess = "window.location.reload()"
                   })
            </i>
            }
        </div>
        <div>
            <b>@Html.DisplayFor(modelItem => item.UserProfile.UserName)</b>
        </div>
        <br />
        <div>
            @Html.DisplayFor(modelItem => item.MessageText)
            <br /><br />
            <i>
                @Html.DisplayFor(modelItem => item.Date)
            </i>
        </div>
    </div>
}
