@model Forum.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) 
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Set password</legend>
        <p>
            You do not have a local password for this site. Add a local
            password so you can log in.
        </p>
        <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
        <ul>
            <li style="margin-left: -40px;">
                <b>New password</b>
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </li>
            <li style="margin-left: -40px; margin-top: 5px;">
                <b>Confirm password</b>
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
        </ul>
        <input type="submit" value="Set password" /> | @Html.ActionLink("Back", "Index", "Home")
        <p class="message-success">@ViewBag.StatusMessage</p>
    </fieldset>
}