@model Forum.Models.Questions
@{
    ViewBag.Title = "Question Details";
}

<fieldset>
    <legend>Questions Details</legend>
    <br />
    <div class="display-field">
       <b>Name: </b>@Html.DisplayFor(q => q.QuestionName)
    </div>
    <div class="display-field">
        <b>Group: </b>@Html.DisplayFor(q => q.QuestionGroups.QuestionGroupName)
    </div>
    <div class="display-field">
        <b>Keyword: </b>@Html.DisplayFor(q => q.QuestionKeyword)
    </div>
    <div class="display-field">              
        <b>Users Votes: </b>@ViewBag.VoteCount
    </div>
    <br />
    <div class="display-field">
        @Html.DisplayFor(q => q.QuestionDescription)
    </div>
    <br />
    <div class="display-field">
        <i>@Html.DisplayFor(q => q.Date)</i>
    </div>
    <br />
    @using (Html.BeginForm("Details_Create_Vote", "Home", new { id = ViewBag.QuestionId }))
    {    
        @Html.AntiForgeryToken()
        <div>
            <div class="editor-field">
                @Html.Hidden("UserId", (object)ViewBag.UserId)
            </div>
            <div class="editor-field">
                @Html.Hidden("QuestionId", (object)ViewBag.QuestionId)
            </div>
            <input type="submit" value="Vote" />            
        </div>
    }    
    <p>
        @Html.ActionLink("Answer this Question", "Create", "Message", new { id = Model.QuestionId }, null) | @Html.ActionLink("Back", "Index")
    </p>
</fieldset>

@Html.Partial("~/Views/Message/_Index.cshtml", Model.Messages)


